body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-position: top center;
    background-image: url('Images/website-backgrounds-5.png');
    background-size: 100px;
}

.navbar-brand {
    /* Imagen del logo */
    background-image: url('Images/invoices.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 40px;
}

h2 {
    color: #d9230f;
}

.table-header {
    background-color: #E5E5E5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media print {
    .seccion-print {
        display: none;
    }
    body {
        padding-top: 0;
    }
}